:root {
    --bg-color:#191F2D;
    --primary-color: #232B3E;
    --secondary-color: #4289FD;
    --tertiary-color: #F35959;
    --quaternary-color: #758191;
    --text-color: #F9FFFF;
    --text-color-2: black;
}

html,
body {
    height: 100%;
    background-color: var(--bg-color);
}
